openapi: 3.0.0
info:
  description: Schematic API
  title: Schematic API
  version: "0.1"
servers:
- url: https://api.schematichq.com
security:
- ApiKeyAuth: []
tags:
- name: accounts
- name: companies
- name: events
- name: features
- name: plans
paths:
  /api-keys:
    get:
      operationId: listApiKeys
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: environment_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: require_environment
        required: true
        schema:
          type: boolean
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List api keys
      tags:
      - accounts
    post:
      operationId: createApiKey
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create api key
      tags:
      - accounts
  /api-keys/{api_key_id}:
    delete:
      operationId: deleteApiKey
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: api_key_id
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Delete api key
      tags:
      - accounts
    get:
      operationId: getApiKey
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: api_key_id
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get api key
      tags:
      - accounts
    put:
      operationId: updateApiKey
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: api_key_id
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateApiKeyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Update api key
      tags:
      - accounts
  /api-keys/count:
    get:
      operationId: countApiKeys
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: environment_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: require_environment
        required: true
        schema:
          type: boolean
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountApiKeysResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count api keys
      tags:
      - accounts
  /api-requests:
    get:
      operationId: listApiRequests
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiRequestsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List api requests
      tags:
      - accounts
  /api-requests/{api_request_id}:
    get:
      operationId: getApiRequest
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: api_request_id
        explode: false
        in: path
        name: api_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiRequestResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get api request
      tags:
      - accounts
  /api-requests/count:
    get:
      operationId: countApiRequests
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountApiRequestsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count api requests
      tags:
      - accounts
  /audience/count-companies:
    post:
      operationId: countCompaniesAudience
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountCompaniesAudienceResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count Companies audience
      tags:
      - features
  /audience/count-users:
    post:
      operationId: countUsersAudience
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountUsersAudienceResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count Users audience
      tags:
      - features
  /audience/get-companies:
    post:
      operationId: getCompaniesAudience
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompaniesAudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get Companies audience
      tags:
      - features
  /audience/get-users:
    post:
      operationId: getUsersAudience
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersAudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get Users audience
      tags:
      - features
  /billing-periods/{key}/upsert:
    post:
      operationId: upsertBillingPeriod
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertBillingPeriodRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertBillingPeriodResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Upsert billing period
      tags:
      - plans
  /companies:
    get:
      operationId: listCompanies
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompaniesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List companies
      tags:
      - companies
    post:
      operationId: createCompany
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create company
      tags:
      - companies
  /companies/{company_id}:
    get:
      operationId: getCompany
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: company_id
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get company
      tags:
      - companies
  /company-memberships:
    get:
      operationId: listCompanyMemberships
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyMembershipsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List company memberships
      tags:
      - companies
    post:
      operationId: createCompanyMembership
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateCompanyMembershipRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyMembershipResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create company membership
      tags:
      - companies
  /company-memberships/{company_membership_id}:
    delete:
      operationId: deleteCompanyMembership
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: company_membership_id
        explode: false
        in: path
        name: company_membership_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCompanyMembershipResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Delete company membership
      tags:
      - companies
  /company-plans:
    get:
      operationId: listCompanyPlans
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: plan_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyPlansResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List company plans
      tags:
      - companies
  /entity-trait-definitions/{entity_trait_definition_id}:
    put:
      operationId: updateEntityTraitDefinition
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: entity_trait_definition_id
        explode: false
        in: path
        name: entity_trait_definition_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTraitDefinitionRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEntityTraitDefinitionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Update entity trait definition
      tags:
      - companies
  /environments:
    post:
      operationId: createEnvironment
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEnvironmentResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create environment
      tags:
      - accounts
  /environments/{environment_id}:
    delete:
      operationId: deleteEnvironment
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: environment_id
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEnvironmentResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Delete environment
      tags:
      - accounts
    get:
      operationId: getEnvironment
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: environment_id
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEnvironmentResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get environment
      tags:
      - accounts
    put:
      operationId: updateEnvironment
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: environment_id
        explode: false
        in: path
        name: environment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEnvironmentResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Update environment
      tags:
      - accounts
  /event-types:
    get:
      operationId: listEventTypes
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventTypesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List event types
      tags:
      - events
  /event-types/{key}:
    get:
      operationId: getEventType
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventTypeResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get event type
      tags:
      - events
  /event-types/count:
    get:
      operationId: countEventTypes
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountEventTypesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count event types
      tags:
      - events
  /events:
    get:
      operationId: listEvents
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: feature_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event_subtype
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List events
      tags:
      - events
    post:
      operationId: createEvent
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEventResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create event
      tags:
      - events
  /events/{event_id}:
    get:
      operationId: getEvent
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: event_id
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get event
      tags:
      - events
  /events/count:
    get:
      operationId: countEvents
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: feature_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event_subtype
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountEventsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count events
      tags:
      - events
  /features:
    get:
      operationId: listFeatures
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeaturesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List features
      tags:
      - features
    post:
      operationId: createFeature
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFeatureResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create feature
      tags:
      - features
  /features/{feature_id}:
    delete:
      operationId: deleteFeature
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: feature_id
        explode: false
        in: path
        name: feature_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFeatureResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Delete feature
      tags:
      - features
    get:
      operationId: getFeature
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: feature_id
        explode: false
        in: path
        name: feature_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeatureResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get feature
      tags:
      - features
    put:
      operationId: updateFeature
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: feature_id
        explode: false
        in: path
        name: feature_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeatureResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Update feature
      tags:
      - features
  /flag-checks:
    get:
      operationId: listFlagChecks
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: flag_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: flag_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlagChecksResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List flag checks
      tags:
      - features
  /flag-checks/{flag_check_id}:
    get:
      operationId: getFlagCheck
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: flag_check_id
        explode: false
        in: path
        name: flag_check_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFlagCheckResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get flag check
      tags:
      - features
  /flag-checks/count:
    get:
      operationId: countFlagChecks
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: flag_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: flag_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountFlagChecksResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Count flag checks
      tags:
      - features
  /flag-checks/latest:
    get:
      operationId: latestFlagChecks
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: flag_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: flag_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestFlagChecksResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Latest flag checks
      tags:
      - features
  /flags:
    get:
      operationId: listFlags
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: feature_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: flag_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlagsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List flags
      tags:
      - features
    post:
      operationId: createFlag
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlagRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFlagResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create flag
      tags:
      - features
  /flags/{flag_id}:
    delete:
      operationId: deleteFlag
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: flag_id
        explode: false
        in: path
        name: flag_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFlagResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Delete flag
      tags:
      - features
    get:
      operationId: getFlag
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: flag_id
        explode: false
        in: path
        name: flag_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFlagResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Get flag
      tags:
      - features
    put:
      operationId: updateFlag
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: flag_id
        explode: false
        in: path
        name: flag_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlagRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFlagResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Update flag
      tags:
      - features
  /flags/{key}/check:
    post:
      operationId: checkFlag
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckFlagRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckFlagResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Check flag
      tags:
      - features
  /flags/check:
    post:
      operationId: checkFlags
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckFlagRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckFlagsResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Check flags
      tags:
      - features
  /metric-counts:
    get:
      operationId: listMetricCounts
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: event_subtype
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event_subtypes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: grouping
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricCountsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List metric counts
      tags:
      - events
  /metric-counts-hourly:
    get:
      operationId: listMetricCountsHourly
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: event_subtype
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event_subtypes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricCountsHourlyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List metric counts hourly
      tags:
      - events
  /plan-audiences/{plan_audience_id}:
    put:
      operationId: updatePlanAudience
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: plan_audience_id
        explode: false
        in: path
        name: plan_audience_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAudienceRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlanAudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Update plan audience
      tags:
      - plans
  /plans:
    get:
      operationId: listPlans
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: Page limit (default 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Page offset (default 0)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPlansResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: List plans
      tags:
      - plans
    post:
      operationId: createPlan
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlanResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Create plan
      tags:
      - plans
  /plans/{plan_id}:
    delete:
      operationId: deletePlan
      parameters:
      - description: "If the request is made using an API key that is not environment-scoped,\
          \ specify the environment using this header"
        explode: false
        in: header
        name: X-Schematic-Environment-Id
        required: false
        schema:
          title: EnvironmentIDParam
          type: string
        style: simple
      - description: plan_id
        explode: false
        in: path
        name: plan_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePlanResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Server error
      summary: Delete plan
      tags:
      - plans
    get:
[...]
